<div class="col-md-4 offset-md-4">
  <form
    ngNativeValidate
    (submit)="doLogin()"
    class="login-form needs-validation">

    <div class="form-row">
      <div class="form-grup col-sm-12 mb-3 spacing-bottom">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" name="login" [(ngModel)]="login" class="form-control" placeholder="Username" id="username" required>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-grup col-sm-12 mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Password</span>
          </div>
          <input type="password" name="pass" [(ngModel)]="pass" class="form-control" placeholder="User pass" id="password" required>
        </div>
      </div>
    </div>
    <div class="invalid-feedback" [ngClass]="status === 500 ? 'invalid': ''">
      Wrong password or username
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
