@import "variables";

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.align-right {
  float: right;
}

.spacing-bottom {
  padding-bottom: 15px;
}

.spacing-top {
  padding-top: 15px;
}

.margintop {
  margin-top: 15px
}

.my-custom-scrollbar {
  position: relative;
  height: 31rem;
  overflow: auto;
}

@media(min-width: 1500px) {
  .my-custom-scrollbar {
    position: relative;
    height: 51rem;
    overflow: auto;
  }
}

.table-wrapper-scroll-y {
  display: block;
}